%li
  .question-container
    .question
      %h3= question.body
      %span.badge.badge-inverse 
        #{question.vote_count} votes
    .asker-info
      .img-container
        = image_tag question.user_image_url, :class => "img-circle"

      %p #{question.user_nickname}

      %button.btn.pull-right vote
