<h1>Schedule and Tracks</h1>

<script type="text/javascript">
  $(function() {
    console.log("dom loaded");
  });
</script>

<table class="table table-hover">
  <%= @conference.name %>
  <%= @conference.track_details %>
  <%= @conference.track_details[:track_id]%>
  <tr>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
  </tr>
    <tr>
      <td>Learn Ruby</td>
      <td>Learn Ruby</td>
      <td>Learn Ruby</td>
      <td>Learn Ruby</td>
      <td>Learn Ruby</td>
    </tr>
</table>

<h3>All Chats and Tweets for this Conference</h3>
<div id="chatwindow">
 <div id="messagewindow">
  <p>Lots of chatter and tweets and things</p>
 </div>
 <!-- <div id="inputcontainer"><p>Your message</p></div> -->
</div>


