= link_to "Home", "#", :class => 'brand'
%ul.nav
  - if current_user
    %li
      = link_to('Sign Out', "/signout", :method=>'delete')
  - else
    %li
      = link_to('Sign in with Twitter', "/auth/twitter")
